* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --chatwindowHeaderBackground: #eeeeee;
  --chatWindowHeaderTextName: #254687;
  --chatWindowHeaderTextLastSeen: #707565;
  --chatWindowHeaderIconsColor: #6c7883;
  --chatWindowMessageSeenColor: #a3acb8;
  --chatWindowHeaderBorderBottomColor: #d8d8d8;
  --chatWindowHeaderScrollBackgroundColor: #2e343c50;
  --chatWindowHeaderScrollColor: #2e343cd8;
  --chatwindowTextFieldBackground: #eeeeee;
  --chatwindowTextFieldBorderColor: #d8d8d8;
}

body {
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
