*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}
.App {
  display: flex;
  box-sizing: border-box;
}
.app1 {
  width: 30%;
  height: 100vh;
  border: 1px solid red;
}
.app2 {
  width: 70%;
  height: 100vh;
  border: 1px solid #4d17b9;
}